@import "tailwindcss";

:root {
  font-size: 16px;
}

@theme {
  --color-secondary: hsl(200, 9%, 45%);

  --breakpoint-mobile: 770px;
  --breakpoint-desktop: 1050px;
  --breakpoint-large: 1280px;
}

.site {
  @apply cursor-pointer select-none h-full flex items-center transition-all duration-450 ease-in-out border-transparent border-b-4 border-solid;
  box-sizing: border-box;
}

.site:hover {
  @apply border-orange-500 text-gray-800;
}

.site:focus {
  @apply outline-0 border-orange-500 text-gray-800;
}

@media only screen and (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  :root {
    font-size: 10px;
  }
}
